<div *ngIf="adList.length" class="row">
  <caption class="col-10">Lista de anúncios</caption>
    <table class="table table-striped col-10">
      <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ad of adList">
          <td>{{ad.description}}</td>
          <td>{{ad.value}}</td>
        </tr>
      </tbody>
    </table>
</div>
<div *ngIf="!adList.length" class="alert alert-warning" role="alert">
  Nenhum anúncio para listar
</div>